#slideshowWrapper {
	background-color:#000;
	bottom:100%;
	color:#fff;
	height:100% !important;
	position:fixed;
	transition:bottom 500ms;
	width:100%;
	z-index:21;
}
#slideshowWrapper.open {
	bottom:0;
}

#slideshowWrapper .slideButton {
	font-size:5em;
	text-shadow:2px 2px 7px rgba(0,0,0,.7);
	z-index:20;
}
#slideshowWrapper .slideButton:hover {
	color:#999;
	cursor:pointer;
}

#slideshowWrapper .closeButton {
	position:absolute;
	right:2.5%;
	top:2.5%;
}

#slideshowWrapper .prevButton {
	bottom:50%;
	position:absolute;
	left:2.5%;
}

#slideshowWrapper .nextButton {
	bottom:50%;
	position:absolute;
	right:2.5%;
}

#slideshowWrapper .slide {
	background-color:transparent;
	background-position:50% 50%;
	background-repeat:no-repeat;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
}

#slideshowWrapper .info {
	background-color:#fff;
	bottom:0;
	color:#000;
	left:0%;
	padding:0%;
	position:absolute;
	width:100%;
}

@media all and (orientation:landscape) {

	#slideshowWrapper .slideButton {
		font-size:3em;
	}
	#slideshowWrapper .slide {
	height:78%;
	left:11%;
	position:absolute;
	top:10%;
	width:80%;
	}
	
	#slideshowWrapper .info {
		bottom:2.5%;
		left:11%;
		padding:1%;
		width:78%;
	}
}
