li {
    list-style-image:none;
    list-style-type:none;
}

body #header nav {
    display:none;
}
#header {
    height:110px;
}

#header #title {
    padding-top:25px;
    text-align:center;
}

body section {
    margin-top:110px;
}
section h2 {
    margin-top:30px;
    text-align:center;
    width:100%;
}

article {
    
}
article:not(:last-child)::after {
    border-top:1px solid white;
    color:transparent;
    content:".";
    display:block;
    height:1px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
    top:-10px;
    width:100px;
}

article.portfolio .item {
    margin-left:200px;
    min-height:200px;
    position:relative;
}
article.portfolio .item img.icon {
    border-radius:50%;
    height:180px;
    left:-200px;
    position:absolute;
    top:0;
    width:180px;
}

#social {
    margin:0;
    padding:0;
    text-align:center;
}
#social li {
    display:inline-block;
    margin:10px;
}

article#bio {
    text-align:center;
}
article#bio img {
    border:1px solid rgb(240, 231, 213);
    border-radius:50%;
    display:inline-block;
}
article#bio p {
    margin:0 auto;
    max-width:500px;
    padding-bottom:50px;
    text-align:left;
}

article#bio .button-link {
    
}
article#bio .button-link a {
    background-color:#666;
    border-radius:4px;
    padding:1rem;
}
article#bio .button-link.center {
    text-align:center;
}

@media (max-width:475px) {
    article.portfolio .item {
        margin-left:0;
        min-height:inherit;
        position:inherit;
    }
    article.portfolio .item img.icon {
        display:none;
    }
}