
/*
 * Print Rules
 */

header {
    position:initial;
}

header .content-inner {
    justify-content: space-around;
}

h1 {
    text-shadow: none;
}

body.scrolled h1 {
    transform:none!important;
}

#resume-button-wrapper {
    display:none;
}

main {
    padding-top:0;
}

#titles ul {
    flex-direction: row;
    max-width:100%;
    width:100%;
}
#titles li {
    width:25%;
}

h2 {
    text-align: left;
}

main .item {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}

main img.icon {
    border-radius: 0;
    border-bottom-left-radius: 15px;
    margin:0;
    width:180px
}

main .item h3 {
    text-align:left;
}

main .item .content {
    padding-left: 10px;
    width:calc(100% - 200px);
}